@model IEnumerable<RolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center class="mb-5">
    <h1 class="mt-5 pt-3">All Roles</h1>
    <br />
    <br />
    <a asp-controller="Role" asp-action="Creat" class="btn btn-outline-primary">Creat New Role</a>
</center>


<div class="m-4 d-flex justify-content-center align-items-center">

    <form class="row w-75 m-auto" asp-action="Index">

        <div class="col-md-12  d-flex justify-content-center align-items-center">

            <input type="text" name="name" placeholder="Search By Name" class="form-control" />

            <input type="submit" value="Search" class="btn btn-success " />

        </div>

    </form>

</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover border rounded-lg shadow">

        <thead>
            <tr class="font-weight-bold">
                <td class="font-weight-bold">@Html.DisplayNameFor(R => R.Id)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(R => R.RoleName)</td>
                <td class="font-weight-bold">Details</td>
                <td class="font-weight-bold">Update</td>
                <td class="font-weight-bold">Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>

                    <td>@role.Id</td>
                    <td>@role.RoleName</td>

                    <partial model="@role.Id" name="_ButtonsPartail" />

                  

                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="m-5 alert alert-warning">
        <h3>There is no Roles</h3>
    </div>
}

